<!DOCTYPE html>
<html>
<head>
	<title>Currency Rates</title>
	<!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-git.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
	
</head>
<body>
<h1>
Trying to pass the server var to the client side!
</h1>
<!-- Inserting the Apexchart chart below -->
<div id="chart"></div>

<script>
		var options = {
		chart: {
			height: 350,
			type: 'line',
		},
		dataLabels: {
			enabled: false
		},
		series: [],
		title: {
			text: 'Rates',
		},
		noData: {
		text: 'Loading...'
		}
	}
	
	var chart = new ApexCharts(document.querySelector("#chart"), options);
	
	//Updating the 'series' array of var options below with given dataPoints
	// chart.updateSeries(
	// 	[{
	// 		name: 'Rates',
	// 		data: dataPoints
	// 	}]
	// );
	
	$.getJSON('/chart', function(response) {
        chart.updateSeries([{
          name: 'USD',
          data: response
        }])
});
	
	chart.render();
</script>
		
<!-- Form submission logic temptlate -->
<!-- 
<form action="/some_address/selector" method="POST">

    <div>
    	<h2>Pick up your currency</h2>
		<label for="currency1">USD</label>
		<input id="currency1" name="currency" type="radio" value="usd" required>
	</div>
	<div>
		<label for="currency2">EUR</label>
		<input id="currency2" name="currency" type="radio" value="eur" required>
    </div>
    <input type="submit">
</form>
<form action="/some_address/rate" method="POST">
	<div>
		<h2>Rate our app</h2>
		<select name="rating">
			<option value="5">*****</option>
			<option value="4">****</option>
			<option value="3">***</option>
			<option value="2">**</option>
		</select>
	</div>
	<input type="submit">	
</form> 
-->
</body>
</html>