<!DOCTYPE html>
<html>
<head>
	<title>Currency Rates</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-git.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
	
</head>
<body>
<div class="jumbotron">
	<div class="container">
		<h1 class="display-4">Welcome to Currency Rates!</h1>	
		<p class="lead">Chart shows the USD to RUB quotation for the fixed period (~1 year)</p>
	</div>
</div>	
<!-- Inserting the Apexchart chart below -->
<div id="chart"></div>
<!-- Apexchart script start (https://apexcharts.com/docs/update-charts-from-json-api-ajax -->
<script>
		//Apexchart options array	
		var options = {
		chart: {
			height: 350,
			type: 'line',
		},
		dataLabels: {
			enabled: false
		},
		series: [],
		title: {
			text: 'USD (RUB)',
		},
		noData: {
		text: 'Loading...'
		}
	}
	
	var chart = new ApexCharts(document.querySelector("#chart"), options);
	
	//Updating the 'series' array of var options below with given dataPoints, fetched from the /chart root
	$.getJSON('/chart', function(response) {
        chart.updateSeries([{
          name: 'USD',
          data: response
        }])
});
	//Apexchart rendering function
	chart.render();
</script>
<!-- Apexchart script end -->
<!-- Form submission logic temptlate start-->
<!-- 
<form action="/some_address/selector" method="POST">

    <div>
    	<h2>Pick up your currency</h2>
		<label for="currency1">USD</label>
		<input id="currency1" name="currency" type="radio" value="usd" required>
	</div>
	<div>
		<label for="currency2">EUR</label>
		<input id="currency2" name="currency" type="radio" value="eur" required>
    </div>
    <input type="submit">
</form>
<form action="/some_address/rate" method="POST">
	<div>
		<h2>Rate our app</h2>
		<select name="rating">
			<option value="5">*****</option>
			<option value="4">****</option>
			<option value="3">***</option>
			<option value="2">**</option>
		</select>
	</div>
	<input type="submit">	
</form> 
-->
</body>
</html>
