<%- include ("partials/header") %> <!-- uses the header.ejs file -->
<h1>
	Some header goes here
</h1>
<h2>
	Some second header goes here
</h2>
<h3>
	Some third header goes here
</h3>

<%- include ("partials/footer") %>